{% extends "base.html" %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#repotable').DataTable({
        ajax: '/api/reporoute',
        columns: [
            {data: 'repoID',
            "render": function ( data, type, row, meta ) {
              return '<a href="repo/'+data+'">'+data+'</a>';}},
            {data: 'repoTitle'},
            {data: 'repoLoca'},
            {data: 'repoCont'},
            {data: 'repoCop',
            "render": function ( data, type, row, meta ) {
              return '<a href="cop/'+data+'">'+data+'</a>';} 
      }]
      });
    });
  </script>
{% endblock %}

{% block content %}
<head>
    <title>Reports</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <style>
      p1 {text-align: center; color: whitesmoke; font-size: 40px; background-color: black;}
    </style>
</head>

<body>
  <div>
    <p1></p1>
  </div>
</body>

 <table id="repotable" class="display compact" data-page-length="50">
  <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Location</th>
        <th>Content</th>
        <th>repoCop</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
 </table>
{% endblock %}
